html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

.jumbotron {
  height: 90%;
  width: 100%;
}



#face-box {
  width: 100%;
  height: 500px;
  overflow: hidden;
  background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/305454_10151362987578638_276471754_n.jpg?oh=a1eca59624b953569d1e2e003f7463b6&oe=59CCD277);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: 5px ridge black;
}

#face-photo{
  height: auto;
   width: 100%;
}

.nametag {
  width: 100%;
  height: 75px;
  margin-top: -0;
}

.nametag h1{
  font-size: 75px;
  text-align: center;
  line-height: 60px;
  margin-top: 50px;
}

#name {
  color: white;
  text-align: left;
  font-size: 50px;
  text-shadow: 2px 0px #555, 0px 0px #555, 2px 2px #555, 0px 2px #555;
  font-weight: bold;
  font-family: 'Yellowtail', cursive;
  margin: 25% 5% 5% 5%;
  letter-spacing: 2px;

}

#info ul li {
  list-style-type: none;
  display: block;
  text-align: left;
  font-size: 30px;
  margin-left: 50%;
  transform: translateX(-50%);

}

li img {
  height: 1.2em;
  width: 1.2em;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: red;
}

#transition {
  width: 100%;
  height: 500px;
  background-image: url(https://scontent.fsnc1-1.fna.fbcdn.net/v/t1.0-9/10996237_10152879225077811_2966980612194940189_n.jpg?oh=34dcff741549c2a71a3005933e8faf6c&oe=5985747D);
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center right;
  border: 5px ridge black;
}

h3 {
  font-size: 1.5em;
  text-shadow: 2px 0px #555, 0px 0px #555, 2px 2px #555, 0px 2px #555;
  font-weight: bold;
  font-family: 'Kaushan Script', cursive;
  margin-left: 5px;
  text-decoration: underline;
}

.skills {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 0;
}

.skills p{
  overflow: hidden;
  width: 25%;
  height: 1em;
  margin: 0;
  text-align: right;
}

.skills-div {
  width: 70%;
  font-size: 0.75em;
  border-radius: 16px;
  height: 1em;
}

.base {
  background-color: #CCC;
  border: 1px solid black;
  margin: 1%;
}

.percent {
  background-color: #444;
  color: white;
  text-align: center;
}


.right li{
 display: block;
 margin-right: 5%;
 padding: 0;
 border: 1px solid black;
}


.position {
  padding-top: 0px;
}

.right span{
  display: block;
  float: right;
  margin-right: 5%;
  font-style: oblique;
}


#floodgate {
  height: 1.5ems;
  width: auto;
  margin: auto;

}
#degree {
  margin-bottom: 0;
  padding-bottom: 0;
  font-weight: bold;
}
#univ {
  margin-top: 0;
  padding-top: 0;
}

.footer {
  width: 100%;
  font-style: normal;
}

.footer h1{
  text-align: center;
  width: 50%;
  margin: auto;
}

#trans2 {
  width: 100%;
  min-height: 300px;
  max-height: 500px;
  background-image: url(https://scontent-sea1-1.xx.fbcdn.net/v/t1.0-9/13346706_1330066833674983_1249402782975828441_n.jpg?oh=af9c317b1c0b47b37ec5e49434338ffe&oe=59C49E8D);
  background-attachment: fixed;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
  border: 5px ridge black;
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#icon {
  width: 40px;
  height: 35px;
  margin: 0;
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: white;
  background-color: rgba(255,255,255,0.5);
}

#icon div{
    width: 100%;
    height: 5px;
    background-color: black;
    margin: 5px 0;
}
.box, #quote /*pull from a saved documents file, copy and pasting the web address*/
{
         display:block;
         width: 150px;
         height:auto;
         border:20px;
         margin:20px auto;

}
.box, button
{
         display:block;
         width: 150px;
         height:auto;
         border:20px, solid;
         border-style:auto;
         border-color:black;
         background-color: red;
         padding:1em;
         margin:20px auto;
}
.box{
        width: 900px;
        background: black; /*changing this box from yellow to black gave the illusion the quote is not in a box*/
		    border: 1px solid #a29415;
    }
.box-inner{
        padding: 10px;
    }
